.top-row[b-fs80wyvobl] {
    display:none;
}
.nav-ul[b-fs80wyvobl] {
    margin-bottom: 0;
    list-style: none;
}

.nav-ul li[b-fs80wyvobl]{
    display:inline-block;
}

@media (max-width: 767px) {
    .top-row[b-fs80wyvobl] {
        display:block;
    }
    .nav-ul[b-fs80wyvobl] {
        padding: 0;
    }
    .nav-ul li[b-fs80wyvobl] {
        display: block;
        text-align: left;
        border-bottom: solid 1px rgba(0,0,0,0.4);
    }
}

.nav-ul li a.nav-link[b-fs80wyvobl] {
    padding: 1rem;
    color: #fff;
    display: block;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-toggler[b-fs80wyvobl] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fs80wyvobl] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fs80wyvobl] {
    font-size: 1.1rem;
}

@media (max-width: 767px) {
    .navbar > .container-fluid[b-fs80wyvobl] {
        justify-content: right;
    }
}

.oi[b-fs80wyvobl] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fs80wyvobl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fs80wyvobl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fs80wyvobl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fs80wyvobl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fs80wyvobl]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fs80wyvobl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .collapse[b-fs80wyvobl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-fs80wyvobl] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

