<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/b4cbf587-db36-406d-b18c-4a0872e45fb8/resourceGroups/appsvc_windows_centralus/providers/Microsoft.Web/sites/blazor-spcafl-resource</ResourceId>
    <ResourceGroup>appsvc_windows_centralus</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://blazor-spcafl-resource.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://blazor-spcafl-resource.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$blazor-spcafl-resource</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>