@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.green {
    color:#00a87f;
}

@media (min-width: 1025px) {
    #app .row {
        margin:0;
    }
}
form.home-form {
    margin-top: 25px;
}
.home-form .form-row{
    margin-bottom:14px;
}
.home-form .form-row.column-4{
    display:flex;
}
.home-form .form-row.column-4 .streetNo {
    padding-right:6px;
}
.home-form .form-row.column-4 .streetName {
    padding: 0 6px;
}
.home-form .form-row input {
    border-radius: 18px;
}
.home-form .form-row .form-control {
    color: #777;
    border-radius: 12px;
    -webkit-appearance:auto;
}

.top-info {
    color: #fff;
    background-color: #acacae;
    font-size: 13px;
    padding: 5px 0;
}

.top-info a {
    color: #fff;
}

    .nav-ul li a.nav-link {
        padding: 1rem;
        color: #fff;
        display: block;
        text-decoration: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        text-transform: uppercase;
    }

    .home-banner {
        position: relative;
    }

    .banner-content {
        position: absolute;
        top: 8%;
        left: 5%;
        color: #fff;
        max-width: inherit;
        padding: 0;
        width: 50%;
    }
    @media (max-width: 767px) {
        .home-banner {
            background: url("../images/home-banner.jpg") no-repeat;
            padding: 30px 0;
        }
        .banner-content {
            position: relative;
            top: 0;
            left: 0;
            width: 88%;
        }
    }

    .banner-content h2 {
        color: #fff;
        text-transform: uppercase;
    }

    .home-banner img {
        width: 100%;
        padding: 0;
    }
    @media (max-width: 767px) {
        .home-banner img {
            display:none;
        }
    }

    .home-tabs .row > *{
        padding-left:0;
    }

    .tabs-left > li {
        display: inline-block;
        width: 100%;
        position: relative;
    }

    .tabs-left > li > a {
        border-bottom: solid 1px #fff;
        color: #fff;
        background-color: #acacae;
        border-radius: 0px;
        margin: 0px;
        padding: 30px;
        display: inline-block;
        text-decoration: none;
        width: 100%;
    }

    .tabs-left > li.active > a,
    .tabs-left > li.active > a:hover,
    .tabs-left > li.active > a:focus {
        color: #21518f;
        border-radius: 0px;
        margin: 0px;
        font-weight: 500;
    }

    .tabs-left > li.active > a::after {
        content: "";
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        right: -25px;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid #acacae;
        display: block;
        width: 0;
    }

    .person-search {
        position:absolute;
        right:20px;
    }

    .person-search .input-group svg{
        fill: #9ea2a3;
        position: relative;
        right: 10px;
    }

@media (max-width: 767px) {
    .person-search {
        position: relative;
        right:0;
    }
    .person-search .input-group svg {
        right: 0px;
    }
    .person-search .input-group .form-control, .person-search .input-group span.input-group-text{
        display: none;
    }

    #app {
        width: 100%;
        overflow: hidden;
    }

        .tabs-left > li > a {
            padding: 15px;
        }

        .tabs-left > li.active > a::after {
            right: -15px;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid #acacae;
        }
    }

    .tab-content {
        padding: 25px 40px;
    }

    .home-tabs .tab-content li{
        margin-bottom:15px;
    }

    .tab-content h4 {
        margin-bottom: 1rem;
    }

    .tab-content ul {
        list-style: none;
        padding: 0;
    }

    .tab-content ul li span {
        color: #00a87f;
        font-weight: 600;
    }

    .property-stats {
        background-color: #f3f3f3;
        padding: 70px 0;
    }

    .testimonials {
        background-color: #fff;
        padding: 70px 0;
    }

        .testimonials p {
            color: #403f44;
        }

        .testimonials a {
            color: #adadad;
            text-decoration: none;
        }

        .testimonials .star {
            color: #f4cb25;
            margin-bottom: 12px;
            display: inline-block;
            font-size: 20px;
        }

    .contact-form h3 {
        color: #235094;
    }

    .contact-form .left {
        background-color: #f3f3f3;
        padding: 30px 50px;
    }

    .contact-form form textarea {
        height: 75px;
    }

    .contact-form form .form-control {
        border-radius: 20px;
        background-color: transparent;
        font-size: 13px;
    }

.contact-form form .btn-secondary, .contact-form form .btn-lg, .green-btn{
    padding: 0.25rem 1rem;
    font-size: 13px;
    border-radius: 12px;
    text-transform: uppercase;
    color: #fff;
    background-color: #00a87f;
    border-color: #00a87f;
}

    .contact-form .right {
        padding-left: 0;
    }

    footer {
        background-color: #3f3e43;
        color: #fff;
        padding: 40px 0 30px;
    }

        footer .container {
            display: flex;
        }

    @media (max-width: 767px) {
        footer .container {
            flex-wrap: wrap;
        }
    }

    footer .footer-top h4 {
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
    }

    footer .footer-top a, footer .footer-bottom a {
        color: #fff;
        text-decoration: none;
    }

    footer .footer-bottom strong {
        font-weight: 500;
    }

    footer .footer-bottom .text-right {
        text-align: right;
    }

    .property-stats h2, .testimonials h2 {
        color: #235094;
        margin-bottom: 2.5rem;
    }

    .property-stats h6 {
        margin-bottom: 0;
    }

    .property-stats .counter .row {
        justify-content: center;
    }

    .property-stats .counter img {
        max-height: 85px;
    }

    .counter {
        text-align: center;
    }

    .counter-count {
        font-size: 40px;
        font-weight: 600;
        position: relative;
        color: #3f3e43;
        text-align: center;
        display: inline-block;
        line-height: normal;
    }

    @media (max-width: 767px) {
        .counter-count {
            font-size: 28px;
        }
    }

    .inner-heading h1, .inner-pages h1 {
        color: #235094;
        margin: 2rem 0 2.5rem;
        text-transform:uppercase;
    }

    .inner-pages {
        padding:0px 0 40px;
    }

    .btn-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    .content {
        padding-top: 1.1rem;
    }

    .valid.modified:not([type=checkbox]) {
        outline: 1px solid #26b050;
    }

    .invalid {
        outline: 1px solid red;
    }

    .validation-message {
        color: red;
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

        #blazor-error-ui .dismiss {
            cursor: pointer;
            position: absolute;
            right: 0.75rem;
            top: 0.5rem;
        }

    .blazor-error-boundary {
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
        padding: 1rem 1rem 1rem 3.7rem;
        color: white;
    }

        .blazor-error-boundary::after {
            content: "An error has occurred."
        }

    .loading-progress {
        position: relative;
        display: block;
        width: 8rem;
        height: 8rem;
        margin: 20vh auto 1rem auto;
    }

        .loading-progress circle {
            fill: none;
            stroke: #e0e0e0;
            stroke-width: 0.6rem;
            transform-origin: 50% 50%;
            transform: rotate(-90deg);
        }

            .loading-progress circle:last-child {
                stroke: #1b6ec2;
                stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
                transition: stroke-dasharray 0.05s ease-in-out;
            }

    .loading-progress-text {
        position: absolute;
        text-align: center;
        font-weight: bold;
        inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
    }

        .loading-progress-text:after {
            content: var(--blazor-load-percentage-text, "Loading");
        }
