@page "/homeowners"

<PageTitle>Homeowners</PageTitle>

<!--Tabs Section Begin-->
<div class="inner-heading text-center">
    <h1>WELCOME NEW HOMEOWNERS</h1>
</div>
<div class="home-tabs">
    <div class="row">
        <div class="col-6 col-lg-3 col-sm-6">
            <ul class="nav tabs-left sideways">
                <li class="active"><a href="#welcome" data-toggle="tab">WELCOME</a></li>
                <li class=""><a href="#file" data-toggle="tab">FILE FOR HOMESTEAD EXEMPTIONN & REDUCE TAXES</a></li>
                <li class="third"><a href="#save" data-toggle="tab">SAVE OUR HOME BENEFIT</a></li>
                <li class=""><a href="#notice" data-toggle="tab">NOTICE TO BUYERS OF EXISTING HOMESTEAD PROPERTY</a></li>
                <li class=""><a href="#estimate" data-toggle="tab">ESTIMATE PROPERTY TAXES ONLINE</a></li>
            </ul>
        </div>
        <div class="col-6 col-lg-9 col-sm-6">
            <div class="tab-content">
                <div class="tab-pane active" id="welcome">
                    <h4 class="green">FIRST-TIME FLORIDA HOMEBUYER GUIDE</h4>
                    <p>As a Homeowner, it is important to be fully informed about Florida's property tax laws. We hope you utilize our online tools and review the information below. Please contact our Public Service Department with any questions at 407-665-7506</p>
                    <a href="#" class="btn green-btn">VIEW GUIDE ></a>
                </div>
                <div class="tab-pane" id="file">
                    <p>We encourage all property owners who qualify to file for homestead exemption. Homestead exemption reduces your taxable value, thereby reducing the amount you pay in property taxes. To learn more about homestead and the additonal exemptions you may qualify for, please visit the Exemption section of our website.</p>
                    <p>We offer three convenient ways to file for homestead. It is a quick and easy process. (You will need updated driver's licenses for all those applying.)</p>
                    <ul>
                        <li><span>></span> File online by clicking here</li>
                        <li><span>></span> File in person</li>
                        <li><span>></span> File by mail</li>
                    </ul>
                    <p class="green">The deadline to file is March 1, 2023 if you owned your home as of January 1, 2023.</p>
                    <p>If you purchased your home after January 1, 2023, you may pre-file for the 2024 tax year.</p>
                </div>
                <div class="tab-pane" id="save">SAVE OUR HOME BENEFIT</div>
                <div class="tab-pane" id="notice">NOTICE TO BUYERS OF EXISTING HOMESTEAD PROPERTY</div>
                <div class="tab-pane" id="estimate">ESTIMATE PROPERTY TAXES ONLINE</div>
            </div>
        </div>

    </div>
</div>
<!--Tabs Section End-->