@page "/"

<PageTitle>Home</PageTitle>

<!--Top Info Section Begin-->
<div class="text-center top-info">
    HOMESTEAD EXEMPTION DEADLINE IS MARCH 1.2023 | <a href="#"><em>CLICK HERE TO FILE ONLINE ></em></a>
</div>
<!--Top Info Section Begin-->

<!--Banner Section Begin-->
<div class="home-banner row">
    <img src="../images/home-banner.jpg" />
    <div class="container banner-content">
        <div class="col-12 col-lg-9">
            <h2>Property Search</h2>
            <form class="home-form">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <select id="inputState" class="form-control">
                            <option selected>Real Property</option>
                            <option>Real Property 1</option>
                            <option>Real Property 2</option>
                            <option>Real Property 3</option>
                            <option>Real Property 4</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="inputSearch" placeholder="Search By Owner (Last Name, First Name)">
                    </div>
                </div>
                <div class="form-row column-4">
                    <div class="form-group col-md-4 streetNo">
                        <input type="text" class="form-control" id="inputStreetNo" placeholder="Street No.">
                    </div>
                    <div class="form-group col-md-2">
                        <select id="inputDir" class="form-control">
                            <option selected>Dir</option>
                            <option>Dir 1</option>
                            <option>Dir 2</option>
                            <option>Dir 3</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 streetName">
                        <input type="text" class="form-control" id="inputStreetName" placeholder="Street Name">
                    </div>
                    <div class="form-group col-md-2">
                        <select id="inputSuffix" class="form-control">
                            <option selected>Suffix</option>
                            <option>Suffix 1</option>
                            <option>Suffix 2</option>
                            <option>Suffix 3</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <input type="text" class="form-control" id="inputParcelNo" placeholder="Enter Parcel No. With OR Without Dashes">
                </div>

                <div class="form-row">
                    <input type="text" class="form-control" id="inputSearchByFacility" placeholder="Search By Facility">
                </div>

                <div class="form-row">
                    <input type="text" class="form-control" id="inputSearchBySub" placeholder="Search By Subdivision">
                </div>

                <div class="form-row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            On execute, I accept the Terms of Use
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<!--Banner Section End-->
<!--Home Tabs Section Begin-->
<div class="home-tabs">
    <div class="row">
        <div class="col-6 col-lg-3 col-sm-6">
            <ul class="nav tabs-left sideways">
                <li class="active"><a href="#home-v" data-toggle="tab">ANNOUNCEMENTS</a></li>
                <li class=""><a href="#profile-v" data-toggle="tab">IMPORTANT DATES</a></li>
                <li class="third"><a href="#messages-v" data-toggle="tab">MISCELLANEOUS INFORMATION</a></li>
                <li class=""><a href="#settings-v" data-toggle="tab">QUICK LINKS</a></li>
            </ul>
        </div>
        <div class="col-6 col-lg-9 col-sm-6">
            <div class="tab-content">
                <div class="tab-pane active" id="home-v">
                    <ul>
                        <li><span>></span> Job Opening: Public Service Specialist</li>
                        <li><span>></span> Report Hurricane lan property damage online</li>
                        <li><span>></span> Hurricane lan Post Storm Resources</li>
                        <li><span>></span> Learn about the proposed Constitutional Amendments impacting property tax</li>
                        <li><span>></span> Attention New Homeowners!</li>
                        <li><span>></span> Click here to view SCPA Budgets and Financial Audits</li>
                        <li><span>></span> Click here to sign up for free Property Fraud Alerts from the Seminole County Clerk's Office</li>
                        <li><span>></span> Read the Property Owner's Bill of Rights</li>
                    </ul>
                </div>
                <div class="tab-pane" id="profile-v">IMPORTANT DATES</div>
                <div class="tab-pane" id="messages-v">MISCELLANEOUS INFORMATION</div>
                <div class="tab-pane" id="settings-v">QUICK LINKS</div>
            </div>
        </div>

    </div>
</div>
<!--Home Tabs Section End-->
<!--Property Stats Section Begin-->
<div class="property-stats">
    <div class="row">
        <h2 class="text-center">SEMINOLE COUNTY PROPERTY STATS<br />PRELIMINARY 2022 TAX ROLL</h2>

        <div class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-lg-3 col-md-4 col-sm-6">
                        <div class="count-up text-center">
                            <img src="../images/Real-Property-Parcels.png" />
                            <h6>REAL PROPERTY PARCELS</h6>
                            <p class="counter-count">178625</p>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3 col-md-4 col-sm-6">
                        <div class="count-up text-center">
                            <img src="../images/Residential-Parcels.png" />
                            <h6>RESIDENTIAL PARCELS</h6>
                            <p class="counter-count">134735</p>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3 col-md-4 col-sm-6">
                        <div class="count-up text-center">
                            <img src="../images/Commercial-Parcels.png" />
                            <h6>COMMERCIAL PARCELS</h6>
                            <p class="counter-count">6885</p>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3 col-md-4 col-sm-6">
                        <div class="count-up text-center">
                            <img src="../images/Condo-Parcels.png" />
                            <h6>CONDO PARCELS</h6>
                            <p class="counter-count">15162</p>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3 col-md-4 col-sm-6">
                        <div class="count-up text-center">
                            <img src="../images/Apartment-Units.png" />
                            <h6>APARTMENT UNITS</h6>
                            <p class="counter-count">39897</p>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3 col-md-4 col-sm-6">
                        <div class="count-up text-center">
                            <img src="../images/Taxable-Value.png" />
                            <h6>TAXABLE VALUE</h6>
                            <p class="counter-count">$42.6B</p>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3 col-md-4 col-sm-6">
                        <div class="count-up text-center">
                            <img src="../images/Market-Value.png" />
                            <h6>MARKET VALUE</h6>
                            <p class="counter-count">$65.9B</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Property Stats Section End-->
<!--Testimonial Section Begin-->
<div class="testimonials">
    <div class="row">
        <h2 class="text-center">TESTIMONIALS</h2>
        <div class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 col-md-4">
                        <span class="star">★★★★★</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p><strong>MIKE MIKE</strong></p>
                    </div>

                    <div class="col-12 col-lg-4 col-md-4">
                        <span class="star">★★★★★</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p><strong>MIKE MIKE</strong></p>
                    </div>

                    <div class="col-12 col-lg-4 col-md-4">
                        <span class="star">★★★★★</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p><strong>MIKE MIKE</strong></p>
                    </div>

                    <div class="col-12 text-center">
                        <p><a href="#">READ MORE ></a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Testimonial Section End-->
<!--Location Form Section Begin-->
<div class="contact-form">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6 left">
            <h3>HAVE QUESTIONS ?<br />CONTACT US!</h3>
            <p>Please leave us your details and questions in the form below and we will reply shortly.</p>
            <div class="row justify-content-left">
                <div class="col-md-8">
                    <span class="anchor" id="formContact"></span>
                    <form autocomplete="off" class="form" role="form">
                        <fieldset>
                            <div class="row mb-1">
                                <div class="col-lg-12">
                                    <input class="form-control" id="name2" name="name2" required="" type="text" placeholder="First and Last Name">
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-lg-12">
                                    <input class="form-control" id="phone" name="phone" required="" type="text" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-lg-12">
                                    <input class="form-control" id="email2" name="email2" required="" type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-lg-12">
                                    <textarea class="form-control" id="message2" name="message2" required="" rows="6" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-secondary btn-lg float-right" type="submit">Submit</button>
                        </fieldset>
                    </form>
                </div><!--/col-->
            </div>
        </div>

        <div class="col-12 col-lg-6 col-md-6 right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3495.944793862563!2d-81.25811588523548!3d28.8107189827453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e71381bc0bc5c3%3A0x86db8bec150c2d43!2s1101%20E%201st%20St%2C%20Sanford%2C%20FL%2032771%2C%20USA!5e0!3m2!1sen!2sin!4v1672752522804!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<!--Testimonial Section End-->
